body {
  margin: 0;
  padding: 15px;
  font-family: "poppins";
  background:var(--secondary);
}
*{
  color: #fff;
  margin: 0;
}
p{
  margin: 30px 0;
  font-size: 20px;
}
button{
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

:root {
  --primary:red;
  --secondary:rgb(12, 12, 106);
}



header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  

}

header nav h2{
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  border-color: aliceblue;

}

header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active{
  background: var(--primary);
}

main{
  max-width: 1600px;
  margin: 40px;
}

.help-layout nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover{
  border-color: var(--primary);
}

 .help-layout nav a.active{
  background:var(--primary);
 }

 .faq .question {
  background: rgb(0,0,0,0.2);
  padding: 5px 2px;
  border-radius: 4px;
  margin:20px 0;
 }

 form {
  margin-top: 30px;
 }

 form input label span,form textarea{
  display: block;
 }

 form input, form textarea{
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--primary);
 }

 form label span{
  margin-bottom: 10px;
 }


 strong {
  color: rgb(3, 255, 171);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;

 }

 .careers > a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
 }

 .careers > a:hover p{
  color : var(--primary);
 }

 .careers p {
margin: 0;
 }

 .careers > a p:last-child {
  font-size: 0.8em;
  color: #bbb;
 }